@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.nav-link.menu {
    color: white;
    letter-spacing: 2px;
}
.nav-item.menu {
    margin-right: 40px;
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.nav-link.menu.active {
    font-weight: bold;
    border-bottom: 3px solid pink;
}
.button-top {
    border: 3px solid pink;
}
.title {
    font-family: 'Pacifico';
    font-size: 30px;
}
.container.not-courses {
    padding: 10px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.card.courses {
    margin: 5px;
}
footer {
    text-align: center;
}

@media(max-width: 768px) {
    .nav-item.menu {
        margin-right: 0;
        letter-spacing: 1px;
        font-size: 12px;
        padding: 3px;
    }
    .nav-link-menu {
        margin: 0;
        padding: 0;
    }
}