<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estéfany Gama - Painel Administrativo</title>
</head>
<body>
    <div class="container">
        <p> Painel Administrativo </p>
    </div>
    <div class="container">
        <div class="option">
            <a href="/admin-panel/courses">Cursos</a>
        </div>
        <div class="option">
            <a href="/admin-panel/users">Usuários</a>
        </div>
        <div class="option">
            <a href="/admin-panel/cupons">Cupons</a>
        </div>
        <div class="option">
            <a href="/admin-panel/design">Design</a>
        </div>
        <div class="option">
            <a href="/admin-panel/statistics">Estatísticas</a>
        </div>
    </div>
</body>
</html>