<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Estéfany Gama - Painel Administrativo - Cursos</title>
</head>
<body>
    <br><br>
    <div class="container">
        <div class="position-relative">
            <h1 class="display-4 text-center">Painel Administrativo - Cursos</h1>
        </div>
    </div>
    <br>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td class="align-middle">{{ course.name }}</td>
                    <td class="align-middle">{{ course.price }}</td>
                    <td class="align-middle">
                        <form action="/admin-panel/courses" method="POST">
                            <input type="hidden" name="alter" value="{{ course.id }}">
                            <button class="btn btn-primary" type="submit"> Editar </button>
                        </form>
                    </td>
                    <td class="align-middle">
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ course.id }}">
                            Excluir
                        </button>
                        <div class="modal fade" id="exampleModal{{ course.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tem certeza?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    Se você confirmar, todo o conteúdo de {{ course.name }} será apagado.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <form action="/admin-panel/courses" method="POST">
                                            <input type="hidden" name="delete" value="{{ course.id }}">    
                                            <button type="submit" class="btn btn-primary">Confirmar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="/admin-panel/courses" method="POST">
            <input type="hidden" name="insert" value="insert">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit"><b>Adicionar Curso</b></button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>